<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Class4 Geometry</servlet-name>
        <servlet-class>Class4Lab.c1.controller.GeometryCalculationController</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>AreaCircleController</servlet-name>
        <servlet-class>Class4Lab.c1.controller.AreaCircleController</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ThirdSideRightTriangleController</servlet-name>
        <servlet-class>Class4Lab.c1.controller.ThirdSideRightTriangleController</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Class4 Geometry C2</servlet-name>
        <servlet-class>Class4Lab.c2.controller.GeometryCalculationController</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>AreaCircleController C2</servlet-name>
        <servlet-class>Class4Lab.c2.controller.AreaCircleController</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ThirdSideRightTriangleController C2</servlet-name>
        <servlet-class>Class4Lab.c2.controller.ThirdSideRightTriangleController</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Class4 Geometry</servlet-name>
        <url-pattern>/CalculateGeometry.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AreaCircleController</servlet-name>
        <url-pattern>/CalculateAreaCircle.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThirdSideRightTriangleController</servlet-name>
        <url-pattern>/CalculateThirdSideTriangle.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Class4 Geometry C2</servlet-name>
        <url-pattern>/CalculateGeometryC2.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AreaCircleController C2</servlet-name>
        <url-pattern>/CalculateAreaCircleC2.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThirdSideRightTriangleController C2</servlet-name>
        <url-pattern>/CalculateThirdSideTriangleC2.jsp</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>start.jsp</welcome-file>
    </welcome-file-list>
</web-app>
